/* src/components/Wrapper.css */
.wrapper {
    height: 100vh; /* Takes full viewport height */
    display: flex;
    flex-direction: column;
  
   
    padding: 10px;
    
    margin: 0;
    background-color: rgb(88, 87, 73);

  }
  