/* src/components/Wrapper.css */
.wrapper {
    height: 100vh; /* Takes full viewport height */
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    overflow-x: hidden; /* No horizontal scrolling */
    padding: 0;
    padding-bottom: 150px;
    margin: 0;
    background-color: darkkhaki;
    
  }
  